import PropTypes from 'prop-types';
import React from 'react';

import './__BASENAME__.scss';

class __BASENAME__ extends React.Component {
  render() {
    return (
      <div id="__BASENAME__">
        <pre>Component: __BASENAME__</pre>
      </div>
    );
  }
}

__BASENAME__.propTypes = {};
__BASENAME__.defaultProps = {};

export default __BASENAME__;
