import { shallow } from 'enzyme';
import __BASENAME__ from './__BASENAME__';

describe('__BASENAME__', () => {
  describe('<__BASENAME__/>', () => {
    describe('render()', () => {
      it('matches snapshot', () => {
        const instance = shallow(<__BASENAME__/>).instance();
        const result = instance.render();
        expect(result).toMatchSnapshot();
      });
    });
  });
});
