import { shallow } from 'enzyme';
import __BaseName__ from './__BaseName__';

describe('__BaseName__', () => {
  describe('<__BaseName__/>', () => {
    describe('render()', () => {
      it('matches snapshot', () => {
        const instance = shallow(<__BaseName__/>).instance();
        const result = instance.render();
        expect(result).toMatchSnapshot();
      });
    });
  });
});
